{% extends 'base.html.twig' %}

{% block title %}
    update Password for {{ app.user.name }} {{ app.user.lastname }}
{% endblock %}

{% block body %}

    <br><br><br><br><br>
    <div class="container rounded bg-white mt-5 mb-5">
        {% for message in app.flashes('success') %}
            <div class="col-xs4">
                <div class="alert alert-success">{{ message }}</div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                    <br>
                    <span class="font-weight-bold">{{ app.user.name }}</span>
                    <br>
                    <span class="text-black-50">{{app.user.email}}</span><span>
                    </span></div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-left">Password Update</h4>
                        <br>
                    </div>
                    <div class="row mt-4">
                        <form method="post">
                            <div class="form-field">
                                <label for="password">Password: </label>
                                <input type="password" id="password" name="password" class="form-control">
                            </div>
                            <div class="form-field">
                                <label for="password2">Confirm Password: </label>
                                <input type="password" id="password2" name="password2" class="form-control">
                            </div>
<button type="submit" class="btn-primary">Edit</button>
                        </form>
                    </div>
                    <br><br>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

