<nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
                Library
            </a>
            <button type="button" class="navbar-toggle" data-target="#navbarCollapse" data-toggle="collapse">
            <span class="sr-only">
              Toggle navigation
            </span>
                <span class="icon-bar">
            </span>
                <span class="icon-bar">
            </span>
                <span class="icon-bar">
            </span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbarCollapse">
            <ul class="nav navbar-nav">
                <li class="dropdown-active">
                    <a href="{{ path('home_page') }}">
                        Home
                    </a>
                </li>
                <li>
                    <a href="{{ path('borrow_index') }}">
                        Borrows
                    </a>
                </li>
                <li>
                    <a href="{{ path('book_index') }}">
                        books
                    </a>
                </li>
                <li>
<a href="{{ path('author_index') }}">
    Authors
</a>
                </li>

                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('profile') }}">Logged in as <b>{{ app.user.name }}</b></a></li>
                </ul>
                    {% endif %}



                </ul>
            {% if  is_granted('ROLE_ADMIN') %}
                <form class="navbar-form navbar-right">
                    <a href="{{ path('admin') }}"><input class="btn btn-danger" type="button" value="Admin"></a>
                </form>
            {% endif %}

            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <form class="navbar-form navbar-right">
                    <a href="{{ path('app_login') }}"><input class="btn btn-success" type="button" value="login"></a>
                </form>
            {% endif %}

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <form class="navbar-form navbar-right">
                    <a href="{{ path('app_logout') }}"><input class="btn btn-success" type="button" value="logout"></a>
                </form>
            {% endif %}
        </div>
    </div>
</nav>
